<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="HomeworkSuite" parallel="classes" thread-count="2">

    <test name="ParallelTests">
        <classes>
            <class name="tests.FormTests"/>
            <class name="tests.AlertTests"/>
        </classes>
    </test>

</suite>
